{% extends "home.html" %}

{% block todo_container %}
<main class="container">
    <hr>
    <section class="container-fluid">
        <form method="post">
            <div class="col-auto">
                <div class="input-group mb-3">
                    <input aria-describedby="button-addon2" aria-label="Enter video path or URL" class="form-control" name="video_source"
                           placeholder="Enter local path or URL to the video" type="text"
                           value="{{ video_source }}"/>
                    <button class="btn btn-outline-primary" data-mdb-ripple-color="dark" id="button-addon2"
                            type="submit">
                        Load Video
                    </button>
                </div>
            </div>
        </form>
    </section>
    {% if video_source %}
    <article class="card container-fluid">
        <br/>
        <video width="320" height="240" controls>
            <source src="{{ video_source }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </article>
    {% endif %}
</main>
{% endblock %}

